name: Update Mix'n'match catalog
run-name: Update Mix'n'match catalog (${{ inputs.update_type }}) - ${{ inputs.catalog_name }} from page ${{ inputs.page_offset }}
on:
  workflow_dispatch:
    inputs:
      catalog_name:
        description: Name of the Mix'n'match catalog
        required: true
        type: choice
        options:
          - anime
          - manga
          - staff
          - characters
      update_type:
        description: Type of the update
        required: true
        type: choice
        options:
          - full
          - incremental
        default: incremental
      incremental_mode:
        description: Incremental update mode
        required: false
        type: choice
        options:
          - id
          - updated_at
        default: id
      page_offset:
        description: Page offset for the catalog
        required: false
        type: number
        default: 0

jobs:
  update_catalog:
    name: Update Mix'n'match catalog
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Read the previous Run ID
        id: step-read-run-id
        run: |
          set -euo pipefail

          run_id="$(
            jq -r \
              --arg catalog "${{ github.event.inputs.catalog_name }}" \
              '.[$catalog].runId' \
              catalogs/workflow-runs.json
          )"

          echo "run-id=$run_id" >> "$GITHUB_OUTPUT"

      - name: Download the previous catalog artifact
        if: ${{ github.event.inputs.update_type == 'incremental' || github.event.inputs.page_offset > 0 }}
        uses: actions/download-artifact@v7
        with:
          name: anilist-${{ github.event.inputs.catalog_name }}
          path: ./catalogs/
          github-token: ${{ github.token }}  # `actions: read` granted above
          run-id: ${{ steps.step-read-run-id.outputs.run-id }}

      - name: Run script to fetch data
        run: node update-catalog.js ${{ github.event.inputs.catalog_name }} ${{ github.event.inputs.update_type}} ${{ github.event.inputs.page_offset }}
        env:
          PROXY_PREFIX: ${{ secrets.PROXY_PREFIX }}
          PROXY_HEADERS: ${{ secrets.PROXY_HEADERS }}

      - name: Upload the new catalog artifact
        uses: actions/upload-artifact@v6
        id: step-artifact-upload
        with:
          name: anilist-${{ github.event.inputs.catalog_name }}
          path: catalogs/${{ github.event.inputs.catalog_name }}.json

      - name: Update the workflow-runs.json file
        run: |
          set -euo pipefail
          tmp="$(mktemp)"

          jq --tab \
            --arg catalog "${{ github.event.inputs.catalog_name }}" \
            --argjson runId "${{ github.run_id }}" \
            --argjson artifactId "${{ steps.step-artifact-upload.outputs.artifact-id }}" \
            '.[$catalog].runId = $runId | .[$catalog].artifactId = $artifactId' \
            catalogs/workflow-runs.json > "$tmp"

          mv "$tmp" catalogs/workflow-runs.json

      - name: Commit and push changes if there are any
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull
          git add .
          git diff --cached --quiet || git commit -m "Update Mix'n'match catalog" && git push
