name: Update from Wikidata
on:
  workflow_dispatch:

jobs:
  update_wikidata:
    name: Update from Wikidata
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run script to fetch data
        run: node wikidata.js

      - name: Commit and push changes if there are any
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull
          git add .
          git diff --cached --quiet || git commit -m "Update from Wikidata" && git push
